body{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#fetch-courses-container{
    margin: 30vh auto;
    width: 100vw;
    height: 12rem;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}