#date-container{
    height: 9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, #f1ffff, #fefaf0);
    /* border: 1px solid black; */
}

input{
    width: 16rem;
    height: 1.6rem;
}

button{
    font-size: 1rem;
    width: 8rem;
    height: 2rem;
}

#buttons-container{
    height: 4rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d3d3d3;
    /* border: 1px solid black; */
}

#images-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}